{% extends "base.html" %}

{% block title %}註冊 - Foodie Finder{% endblock %}

{% block content %}
<h1 class="main-title">Foodie Finder</h1>
<div class="card auth-card">
    <h2>建立您的美食地圖</h2>
    <form method="post">
        <input type="text" name="username" placeholder="使用者名稱" required>
        <input type="password" name="password" placeholder="密碼" required>
        <div class="form-actions-row">
             <a href="{{ url_for('login') }}" class="button button-secondary">我已有帳號</a>
            <button type="submit" class="button button-primary">註冊</button>
        </div>
    </form>
    <img src="{{ url_for('static', filename='images/raccoon_eating.png') }}" alt="吃美食的浣熊" class="auth-image">
</div>
{% endblock %}